<%- include ('partials/_header') %>
<br><br>
<div class="container mt-7">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
      <div class="card-body">
        
        <form action="/add" method="post">
          <h2> Registrar Jugador</h2>
          <div class="form-group">
            <input type="text" name="nombre" placeholder="Nombre" class="form-control" autofocus>
          </div>
          <br>
          <div class="form-group">
            <input type="text" name="edad" placeholder="Edad" class="form-control">
          </div>
          <br>
          <div class="form-group">
            <input type="text" name="nacionalidad" placeholder="Nacionalidad" class="form-control">
          </div>
          <br>
          <div class="form-group">
            <input type="text" name="altura" placeholder="Altura" class="form-control">
          </div>
          <br>
          <div class="form-group">
            <input type="text" name="peso" placeholder="Peso" class="form-control">
          </div>
          <br>
          <div class="form-group">
            <input type="text" name="liga" placeholder="Liga" class="form-control">
          </div>
          <br>
          <div class="form-group">
            <input type="text" name="posicion" placeholder="Posici처n" class="form-control">
          </div>
          <br>
          <div class="form-group">
            <input type="text" name="club" placeholder="Club" class="form-control">
          </div>
          <br>

          <button type="submit" class="btn btn-outline-primary">
            Guardar Jugador
          </button>
        </div>
        </form> 
        
      </div>
      <br>
        
    </div>


    <div class="col-md-7">
      
      <table class="table table-bordered table-hover">
        <thead>
          <tr class="table-warning">
            <td>n째</td>
            <td>Nombre</td>
            <td>Edad</td>
            <td>Nacionalidad</td>
            <td>Altura</td>
            <td>Peso</td>
            <td>Liga</td>
            <td>Posici처n</td>
            <td>Club</td>
            <td>Acci처n</td>
          </tr>
        </thead>
        <tbody>
          <% if (data) { %>
            <% for(var i = 0; i < data.length; i++) { %>
              <tr class="table-info">
                <td><%= (i + 1) %></td>
                <td><%= data[i].nombre %></td>
                <td><%= data[i].edad %></td>
                <td><%= data[i].nacionalidad %></td>
                <td><%= data[i].altura %></td>
                <td><%= data[i].peso %></td>
                <td><%= data[i].liga %></td>
                <td><%= data[i].posicion %></td>
                <td><%= data[i].club %></td>
                <td>
                  <a href="/update/<%= data[i].id %>" class="btn btn-outline-success">Edit</a>
                  <a href="/delete/<%= data[i].id %>" class="btn btn-outline-danger">Delete</a>
                </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>

    
  </div>
 
</div>




 
<% ('include partials/_footer') %>
